@font-face {
  font-family: poppin;
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Ruwudu;
  src: url(..//fonts/Ruwudu-Medium.ttf);
}
@font-face {
  font-family: RuwuduBold;
  src: url(..//fonts/Ruwudu-Medium.ttf);
}
@font-face {
  font-family: poppinMedium;
  src: url(..//fonts/Poppins-Medium.ttf);
}
* {
  box-sizing: border-box;
}
.form-input {
  margin: 50px;
  margin-top: 80px;
  background-color: rgb(185, 183, 181);
  padding: 30px;
  font-family: poppinMedium;
  border-radius: 20px 50px;
  box-shadow: rgba(36, 36, 36, 0.633) 0px 7px 29px 0px;
}

.form-header {
  text-align: center;
  margin-bottom: 50px;
  font-family: RuwuduBold;
}
.navigation-container {
  font-family: RuwuduBold;
}
.error {
  color: red;
  font-weight: 500;
  font-family: poppinMedium;
}
.invalid {
  width: 400px;
}
.button {
  background-color: rgb(255, 136, 0);
  padding: 10px 50px;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  box-shadow: rgba(201, 120, 7, 0.765) 0px 7px 29px 0px;
}
.button:hover {
  border-radius: 17px;
  background-color: rgba(208, 98, 2, 0.838);
}
.lazy-loading {
  margin-top: 500px;
  text-align: center;
  font-family: poppin;
}
.userList-container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  text-align: center;
  max-width: 500px;
  background-color: darkgrey;
  margin-top: 120px;
  font-family: Ruwudu;
  border-radius: 25px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.544) 1.95px 1.95px 2.6px;
}
.error_page {
  color: red;
  font-size: 100px;
  font-family: RuwuduBold;
  font-weight: bolder;
  text-align: center;
}
.user-element {
  font-size: larger;
  font-family: sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
}
.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
